private/

scripts/*.local.ps1
CMakeUserPresets.json
.env
.env.local

/build/
out/
.cache/
inspect.xml

vcpkg_installed/

.vs/
*.pdb
*.ilk
*.obj

*.key
*.pem

.vscode/*
!.vscode/extensions.json
.idea/
*.swp
Thumbs.db
desktop.ini
